{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="red-text">Active Listing</h2>
    <ul class="item-container" >
        {% for listing in listings %}

            <li>
                <a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a> - {{listing.current_highest_bid}}

                <!-- add bids function here -->

                <form method="POST" action="{% url 'add_to_watchlist' listing.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Watchlist</button> 

                </form>
            </li>    
            <!-- display title - price in active_listing page -->
        {% empty %}
            <li>No Listings available.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'active_listing' %}">Back to Main page</a>
{% endblock %}
