{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <p>Original Price: {{ listing.price }}</p>
    <p>Current Highest Bid: {{ listing.current_highest_bid }}</p>
    <p>Description: {{ listing.text_description }}</p>

    <form method="post" action="{% url 'place_bid' listing.id %}">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <button type="submit">Place Bid</button>
        
        {% if bid_form.errors.amount %}
            <div class="error-message">{{ bid_form.errors.amount }}</div>
        {% endif %}
    </form>

    <a href="{% url 'active_listing' %}">Back to Active Listings</a>
{% endblock %}
