{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Original Price: {{ listing.price }}</p>
    <p>Current Highest Bid: {{ listing.current_highest_bid }}</p>
    <p>Description: {{ listing.text_description }}</p>

    {% if user.is_authenticated and user == listing.owner %}
        <form method="post" action="{% url 'close_listing' listing.id %}">
            {% csrf_token %}
            <button type="submit">Close Listing</button>
        </form>
    {% endif %}
    
    {% if not listing.is_closed %}
        <form method="post" action="{% url 'place_bid' listing.id %}">
            {% csrf_token %}
            
            <!-- Display the amount form field with the error message next to it -->
            <div class="form-group{% if bid_form.errors.amount %} has-error{% endif %}">
                {{ bid_form.amount.label_tag }}
                {{ bid_form.amount }}
                {% if bid_form.errors.amount %}
                    <span class="help-block">{{ bid_form.errors.amount }}</span>
                {% endif %}
            </div>
            
            <button type="submit">Place Bid</button>
        </form>

    {% else %}
        <p>This listing is closed.</p>
    {% endif %}

    <a href="{% url 'active_listing' %}">Back to Active Listings</a>
{% endblock %}
