{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <p>Price: {{ listing.price }}</p>
    <p>Description: {{ listing.text_description }}</p>

    <form method="post" action="{% url 'place_bid' listing.id %}">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <button type="submit">Place Bid</button>
    </form>

    <a href="{% url 'active_listing' %}">Back to Active Listings</a>
{% endblock %}