<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Watchlist</title>
</head>
<body>
    <h1>My Watchlist</h1>
<ul>
    {% for item in watchlist_items %}
        <li>
            {{ item.title }}
            <form method="POST" action="{% url 'remove_from_watchlist' item.id %}">
                {% csrf_token %}
                <button type="submit">Remove from Watchlist</button>
            </form>
        </li>
    {% empty %}
        <li>Your watchlist is empty.</li>
    {% endfor %}
</ul>

<a href="{% url 'index' %}">Back to Main page</a>

</body>
</html>
